body {
    font-family: 'Robot', sans-serif;
}

table tbody tr:nth-child(odd) {
    background: #C4F8E5;
}

table tbody tr:nth-child(even) {
    background: #57968C;
}

table thead {
    background: #444;
    color: #fff;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table {
    border: black 5px solid;
}

tr {
    border: black 5px solid;
}

td {
    border: black 5px solid;
}

th {
    border: black 5px solid;
}

a {
    color: #01243C;
    text-decoration: none;
}

th {
    background: #7CDFAC;
}
